:host {
    flex-grow: 1;

    mgl-map {
        height: 100%;
        width: 100%;
    }

    .header {
        display: inline-block;
        margin-left: 10px;
        margin-top: 5px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        font-weight: 600;
        color: white;
        -webkit-text-stroke: 1px rgba($color: #333, $alpha: 2);
        text-align: center;
        
        h1 {
            font-size: rem;
        }
    }

    .powerplant-tooltip {

        position: absolute;
        transform: translate(-50%, -100%);
        top: 0;
        left: 0;
        z-index: 4;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        
        mat-card-title {
            font-size: 14pt;
        }

        mat-card-subtitle {
            font-size: 12pt;
        }
        
        .tooltip-bottom {
            width: 0;
            height: 0;
            margin: auto;
            z-index: 10;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            
            border-top: 10px solid white;
        }
    }
}