<div id="sidebar-container">
    <mat-card>
        <mat-card-title>Controls</mat-card-title>
        <mat-divider inset></mat-divider>
        <mat-card-content>
            <label>Power Plant Filter</label>
            <mat-form-field appearance="fill">
                <mat-label>Power Plant Filter</mat-label>
                <mat-select [formControl]="fuelFilterFormControl" #fuelselect multiple>
                    <mat-select-trigger>
                        {{fuelFilterFormControl.value ? fuelFilterFormControl.value[0] : ''}}
                        <span *ngIf="fuelFilterFormControl.value?.length > 1">
                            (+{{fuelFilterFormControl.value.length - 1}} {{fuelFilterFormControl.value?.length === 2 ?
                            'other' :
                            'others'}})
                        </span>
                    </mat-select-trigger>
                    <div class="select-all">
                        <mat-checkbox [(ngModel)]="fuelAllSelected" [ngModelOptions]="{standalone: true}"
                            (change)="fuelOptionToggleAllSelection()">Select All</mat-checkbox>
                    </div>
                    <mat-option *ngFor="let primaryFuel of allFuels" [value]="primaryFuel"
                        (click)="fuelOptionClick()">{{primaryFuel}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>Power Plant Info</mat-card-title>
        <mat-divider inset></mat-divider>
        <mat-card-content>
            <div *ngIf="selectedPowerPlant else loading">

    
                <label>Name</label>
                <p>
                    {{selectedPowerPlant.name}}
                </p>

                <label>Primary Fuel</label>
                <p>
                    {{selectedPowerPlant.primary_fuel}}
                </p>

                <label>Capacity <mat-icon class="help" matTooltip="Amount of energy the power plant produces in Megawatts" matTooltipPosition="above" matTooltipClass="tooltip">help</mat-icon></label>
                <p>
                    {{selectedPowerPlant.capacity_mw}} mw ({{selectedPowerPlant.capacity_mw * 1000 / 1.5643835616438356164383561643836 | number : '1.0-0'}} homes)
                </p>

                <label>Owner</label>
                <p>
                    {{selectedPowerPlant.owner}}
                </p>

                <label>Commissioning Year <mat-icon class="help" matTooltip="Year the plant went operational" matTooltipPosition="above" matTooltipClass="tooltip">help</mat-icon></label>
                <p>
                    {{selectedPowerPlant.commissioning_year | date : 'y'}}
                </p>
    
                <mat-divider inset></mat-divider>
                <form>
                    <div>
                        <span>Search Grid Size: {{radius}} km x {{radius}} km <mat-icon class="help" matTooltip="Radius constraint to use for computing the optimal power plant replacement and its location" matTooltipPosition="above" matTooltipClass="tooltip">help</mat-icon></span>
                    </div>
                    <mat-slider

                        tickInterval="50"
                        step="5"
                        min="10"
                        max="100"
                        aria-label="units"
                        value="50"
                        (change)="radiusChange($event)"
                        style="width: 100%;">
                    </mat-slider>
                    <button mat-flat-button class="compute-button" color="primary" (click)="computeRenewableAlternativesClick()" matTooltip="Computes a solar or wind power plant to replace the currently selected power plant. Replacement powerplant will have the same capacity as the original power plant. Suggestion will be displayed as a green dot." matTooltipClass="tooltip">Compute Renewable Alternatives</button>
                </form>
            </div>
            <ng-template #loading>
                Select a power plant for data
            </ng-template>
        </mat-card-content>
    </mat-card>
    
    <mat-card *ngIf="recommendedPlant">
        <mat-card-title>Plant Recommendation</mat-card-title>
        <mat-divider inset></mat-divider>
        <mat-card-content>
            <label>Plant Type</label>
            <p>
                {{recommendedPlant.primaryFuelRecommendation}}
            </p>
            <label>Lat/Long <mat-icon class="help" matTooltip="Lattitude and Longitude of the plant in degrees." matTooltipPosition="above" matTooltipClass="tooltip">help</mat-icon></label>
            <p>
                ({{recommendedPlant.latitude}}, {{recommendedPlant.longitude}})
            </p>
            <label>Electricity Generation Cost (cents per kwh)</label>
            <p>
                {{recommendedPlant.centsPerKwh | number : '1.2-2'}} &#162;/kwh;
            </p>
            <label>Installation cost</label>
            <p>
                {{(((+(recommendedPlant.primaryFuelRecommendation === "Solar")) * 1796000) + 
                ((+(recommendedPlant.primaryFuelRecommendation === "Wind")) * 2000000)) * 
                selectedPowerPlant.capacity_mw | currency}}
            </p>
            <label>Yearly Net Income <mat-icon class="help" matTooltip="Assumes electricity is sold at the national average 11.34 cents per kilowatthour." matTooltipPosition="above" matTooltipClass="tooltip">help</mat-icon></label>
            <p>
                {{recommendedPlant.yearlyProfitPerMW * selectedPowerPlant.capacity_mw | currency}}
            </p>
        </mat-card-content>
    </mat-card>
</div>
