:host {
    display: block;
    background-color: rgb(229, 229, 229);
    width: 100%;
    height: 100%;
    overflow-y: auto;

    #sidebar-container {
        background-color: rgb(229, 229, 229);
        height: 100%;
        padding: 1rem;

        mat-card {

            margin-bottom: 1rem;

            mat-divider {
                margin-bottom: 1rem;
            }
        
            mat-card-content {
                .mat-form-field {
                    width: 100%;
                }

                .compute-button {
                    width: 100%;
                }
            }
        }
    }
}

.select-all{
    height: 3em;
    display: flex;
    align-items: center;
    margin: 0px 17px;
}